*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(115deg, rgb(100, 69, 252), rgb(255, 0, 255) , rgb(255, 0, 255));
  color: turquoise;
  padding: 10px 20px;
}

.Links{
  display: flex;
  gap: 20px;
}

.Links a{
  text-decoration: none;
  color: rgb(250, 250, 250);
  font: 18px  Monaco;
}

.Links a:hover{
  color: rgb(146, 248, 230);
  font-weight: bold;
}

.navbar .register{
  color: rgb(255, 255, 255);
  font: 18px  Papyrus;
  text-decoration: none;
}



.Signup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.Signup .input{
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: 1px solid rgb(254, 113, 113);
  border-radius: 5px;

}

.Signup .btn{
  margin: 10px;
  padding: 10px;
  width: 320px;
  font-family: Verdana;
  background-color: rgb(199, 6, 199);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Signup .username , .email , .password , .bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Signup label ,p {
  font: 18px ;
  color: #000000;
  font-family: fantasy;
  font-weight: bold;
}

.bottom .Link{
  text-decoration: none;
  color: #ffffff;

}

.form{
  border: #ea1663 solid 2px;
  border-radius: 60px;
  margin: 50px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;

}
