*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(115deg, rgb(100, 69, 252), rgb(255, 0, 255) , rgb(255, 0, 255));
  color: turquoise;
  padding: 10px 20px;
}

.Links{
  display: flex;
  gap: 20px;
}

.Links a{
  text-decoration: none;
  color: rgb(250, 250, 250);
  font: 18px  Monaco;
}

.Links a:hover{
  color: rgb(146, 248, 230);
  font-weight: bold;
}

.Login{
  color: rgb(250, 250, 250);
  font: 18px  Papyrus;

}

