/* 

.post{
  width: 50%;
  border: 2px solid #ea1663;
  border-radius: 20px;
  padding: 20px;
}
  
.post input, .post textarea, .post button{
  width : 100%; 
  margin: 10px 0;
  padding: 10px;

}
 
.post .File{
  border: 1px solid #ea1663;
}

.post button{
  color: white;
  border: none;
  cursor: pointer;
  background-color: #12b833;
}


*/